RewriteEngine On
RewriteRule ^artikels$ artikel-overzicht.php
RewriteRule ^artikels/toevoegen$ artikel-toevoegen-form.php
RewriteRule ^artikels/toevoegen/confirm$ artikel-toevoegen.php

RewriteRule ^artikels/zoeken$ artikel-zoeken-redirect.php

RewriteRule ^artikels/zoeken/content/([a-zA-Z]+)$ artikel-zoeken.php?query-content=$1



RewriteRule ^artikels/zoeken/datum/([0-9]+)$ artikel-zoeken.php?query-date=$1